@import "tailwindcss";

@theme {
  /* Colors */
  --color-white: hsl(0 100% 100%);
  --color-black: hsl(0 0% 0%);
  --color-grey-600: hsl(180 25% 32%);
  --color-grey-550: hsl(180 18% 40%);
  --color-grey-500: hsl(186 14% 43%);
  --color-grey-400: hsl(184 14% 56%);
  --color-grey-300: hsl(184 19% 68%);
  --color-grey-200: hsl(185 41% 84%);
  --color-grey-50: hsl(189 47% 97%);
  --color-green-900: hsl(183 100% 15%);
  --color-green-800: hsl(183 85% 21%);
  --color-green-750: hsl(183 79% 24%);
  --color-green-400: hsl(172 67% 45%);
  --color-green-200: hsl(173 61% 77%);
  --color-orange-400: hsl(13 70% 60%);

  /* Typography */
  --font-space:
    "Space Mono", system-ui, -apple-system, "Segoe UI", BlinkMacSystemFont;

  --text-48: 3rem;
  --text-32: 2rem;
  --text-24: 1.5rem;
  --text-20: 1.25rem;
  --text-16: 1rem;
  --text-13: 0.8125rem;

  --leading-71: 1.48;
  --leading-47: 1.47;
  --leading-36: 1.5;
  --leading-30: 1.5;
  --leading-24: 1.5;
  --leading-19: 1.46;

  --tracking-1: 0.0625rem;
  --tracking-067: 0.0419rem;

  --spacing-0: ;
  --spacing-8: 0.5rem;
  --spacing-16: 1rem;
  --spacing-24: 1.5rem;
  --spacing-32: 2rem;
  --spacing-48: 3rem;
  --spacing-40: 2.5rem;
  --spacing-80: 5rem;
  --spacing-96: 6rem;
  --spacing-120: 7.5rem;
  --spacing-128: 8rem;

  /* Radius */
  --radius-5: 0.3125rem;
  --radius-15: 0.9375rem;
  --radius-25: 1.5625rem;

  /* Shadow */
  --shadow-card: 0 2rem 2.6875rem #4fa6af;

  /* Breakpoint */
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
}

body {
  @apply font-space bg-grey-200;
}
.page-shell {
  @apply flex items-end
  min-h-dvh w-full
  md:justify-center md:items-center;
}
input[type="number"] {
  @apply font-bold text-24 text-green-900 appearance-none [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none [-moz-appearance:textfield]
  w-full outline-none text-end;
}
button {
  @apply cursor-pointer;
}
:focus-visible {
  @apply outline-2 outline-offset-2 outline-green-400;
}

@utility my-transition {
  @apply transition-all duration-200;
}
